.ticker__container {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  margin-top: -5px;
  overflow: hidden;
  background: #dc3b5a;
}
.ticker__scroll {
  width: 100%;
  display: flex;
}

.ticker__content {
  font-family: 'rightGrotesk';
  font-size: 3em;
  font-weight: 900;
  line-height: 36px;
  white-space: nowrap;
  text-transform: uppercase;
  animation: animate 30s linear infinite;
  animation-delay: -30s;
}

.tickerSvg {
  margin: 0 24px;
  height: 36px;
  width: 36px;
}

.ticker__content:nth-child(2) {
  animation: animate2 30s linear infinite;
  animation-delay: -15s;
}

@media (min-width: 1280px) {
  .ticker__container {
    padding: 16px 0;
  }

  .ticker__content {
    font-size: 4em;
  }

  .tickerSvg {
    margin: 0 36px;
  }
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
