.footer__container {
  margin: 60px 0 24px 0;
}

.footer__text {
  font-family: 'MessinaSans';
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__container {
    margin: 80px 0 40px 0;
  }
}

@media (min-width: 1280px) {
  .footer__container {
    margin: 120px 0 40px 0;
  }

  .footer__text {
    font-family: 'MessinaSans';
    font-size: 16px;
    text-align: center;
  }
}
